.container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: stretch;
}

.item {
    border: 2px solid red;

    background-color: antiquewhite;
}

.item1 {
    transform: scale3d(3);
}
