/* ------------------------------------------------ */
/* basic setup */
/* ------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #555;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    height: 100vh;
}

/* ------------------------------------------------ */
/* reusable components */
/* ------------------------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    background-color: blanchedalmond;
}

/* ------------------------------------------------ */
/* header */
/* ------------------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 150px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 65px;
}

.main-nav li {
    display: inline;
    margin-left: 40px;
    font-size: 2rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
    transition: border 0.4s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: orange;

    border: 2px solid orange;
}

/* -----------------------headings-------------------- */
h1 {
    margin: 0;
    color: #fff;
    font-size: 250%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
}

/* ---------------------btns---------------------- */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #e67e22;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: floralwhite;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.row {
    padding-top: 40px;
}

.col {
    font-size: 120%;
    word-spacing: 2px;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.row2 {
    display: flex;
    justify-content: center;
    margin: 40px 20px 0px 20px;
}

h3 {
    font-size: 180%;
    padding-bottom: 10px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: orange;
    content: " ";
    width: 120px;
    margin: 30px auto 30px auto;
}

.row p {
    text-align: center;
}

.fab {
    display: block;
    font-size: 300%;
    color: red;
    text-align: center;
}
